
<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>fecha Alquiler</th>
        <th>fecha Devolución</th>
        <th>Numero Placa</th>
        <th>valor Alquiler</th>
        <th>cliente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vehiculoList">
        <td>{{item.id}}</td>
        <td>{{item.fechaAlquiler}}</td>
        <td>{{item.fechaDevolucion}}</td>
        <td>{{item.numeroPlaca}}</td>
        <td>{{item.valorAlquiler}}</td>
        <td>{{item.cliente}}</td>
      </tr>
     
    </tbody>
    <div>
      <button (click)="initPAgination(i)" *ngFor="let item of listPages; index as i">{{i+1}}</button>
    </div>
  </table>