<a [routerLink]="['clients/clients-create']">Create Cliente</a>
<br>
<a [routerLink]="['clients/clients-list']">List Cliente</a>
<br>
<a [routerLink]="['vehiculo/create-vehiculo']">Create Vehiculo</a>
<br>
<a [routerLink]="['vehiculo/list-vehiculo']">List Vehiculo</a>
<router-outlet></router-outlet>
