<form [formGroup]="clientFormGroup" novalidate (ngSubmit)="saveClient()">
    
    <div class="form-gorup">
        <label for="">Nombre</label>
        <input type="text" class="form-control" formControlName="nombre" name="nombre" pattern="[a-z A-Z]+">
        <div 
        *ngIf="clientFormGroup.get('nombre').invalid && (clientFormGroup.get('nombre').dirty || clientFormGroup.get('nombre').touched)">
    
        <div *ngIf="clientFormGroup.get('nombre').errors.pattern">
            <p class="error-validate">*El campo debe tener solo letras</p>
        </div>
        <div *ngIf="clientFormGroup.get('nombre').errors.required">
            <p class="error-validate">*El campo es requerido</p>
        </div>
        </div>
    </div>
    <div class="form-gorup">
        <label for="">Telefono</label>
        <input type="text" class="form-control" name="telefono" formControlName="telefono" pattern="[0-9]+">
        <div 
        *ngIf="clientFormGroup.get('telefono').invalid && (clientFormGroup.get('telefono').dirty || clientFormGroup.get('telefono').touched)">
    
        <div *ngIf="clientFormGroup.get('telefono').errors.pattern">
            <p class="error-validate">*El campo debe tener solo numeros</p>
        </div>
        <div *ngIf="clientFormGroup.get('telefono').errors.required">
            <p class="error-validate">*El campo es requerido</p>
        </div>
        </div>
    </div>
    <div class="form-gorup">
        <label for="">Dirección</label>
        <input type="text" class="form-control" name="direccion" formControlName="direccion">
        <div 
        *ngIf="clientFormGroup.get('direccion').invalid && (clientFormGroup.get('direccion').dirty || clientFormGroup.get('direccion').touched)">
    
        <div *ngIf="clientFormGroup.get('direccion').errors.required">
            <p class="error-validate">*El campo es requerido</p>
        </div>
        </div>
        
    </div>
    <div class="form-gorup">
        <label for="">email</label>
        <input type="text" class="form-control" name="email" formControlName="email">
        <div 
        *ngIf="clientFormGroup.get('email').invalid && (clientFormGroup.get('email').dirty || clientFormGroup.get('email').touched)">
    
        
        <div *ngIf="clientFormGroup.get('email').errors.required">
            <p class="error-validate">*El campo es requerido</p>
        </div>
        </div>
        
    </div>
    <div class="form-gorup">
        <label for="">Numero Documento</label>
        <input type="text" class="form-control" name="numeroDocumento" formControlName="numeroDocumento" 
        pattern="[0-9]+">
        <div 
        *ngIf="clientFormGroup.get('numeroDocumento').invalid && (clientFormGroup.get('numeroDocumento').dirty || clientFormGroup.get('numeroDocumento').touched)">
    
        <div *ngIf="clientFormGroup.get('numeroDocumento').errors.pattern">
            <p class="error-validate">*El campo debe tener solo numeros</p>
        </div>
        <div *ngIf="clientFormGroup.get('numeroDocumento').errors.required">
            <p class="error-validate">*El campo es requerido</p>
        </div>
        </div>
       
    </div>

        <div>
            <button type="submit" class="btn btn-primary" [disabled]="clientFormGroup.invalid">Guardar</button>
        </div>
</form>
