
<table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Direccion</th>
        <th>Email</th>
        <th>Numero Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of clientList">
        <td>{{item.id}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.telefono}}</td>
        <td>{{item.direccion}}</td>
        <td>{{item.email}}</td>
        <td>{{item.numeroDocumento}}</td>
      </tr>
     
    </tbody>
    <div>
      <button (click)="initPAgination(i)" *ngFor="let item of listPages; index as i">{{i+1}}</button>
    </div>
  </table>